body{
    background-color: #060606;
    color: aliceblue;
}
h1{
    font-family: 'Poppins', sans-serif;
}
h3{
    font-family: 'Roboto', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif;
}
    
.col{
    background-color: #26323184;
    border-radius: 15px;
    margin: 20px;
    padding: 10px;
}

.bar{
    margin-top: 0;
    background-color: #26323195;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    height: 65px;
}

.tempo{
    float: right;
}

#time{
    font-size: 25px;
    float: right;
}
#start_btn{
    float: left;
}

.contcols{
    background-color: #26323130;
    border-radius: 15px;
    margin: 20px;
    padding: 10px;
}

.workcont{
    background-color: #00000030;
    border-radius: 15px;
    margin: 20px;
    padding: 10px;
}


.custom-container {

    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
  }
  .classic {
    background-color: #181f1f;
  }
  .short-pause {
    background-color: #1e1b21;
  }
  .long-pause {
    background-color: #535134a2;
  }

  .timeoption{
    margin: 0;
  }

  .timeoption{
    margin: 0;
  }

  .custom-container{
    margin: 0;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 6px; 
    margin-bottom: 20px;
    color: white;
    text-align: center;
    margin-top: 0;
    width: 270px;
    cursor: pointer;

  }

  .option{
    font-size: 16px;
  }


  .startbtn{
    margin-top: 3px;
    border-radius: 45px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
  }

  .counter{
    margin-top: 5px;
    font-size: 25px;

  }
.modal{
  z-index: 11111;
}

.close {
    position: absolute;
    top:  10px;
    right:  15px;
    color: #ffffff;
    font-size:  25px;
    font-weight: bold;
    cursor: pointer;
}
/* Adjusting background colors */
.modal-content {
  background-color: #263231; /* Or any color you prefer */
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
}

.btn-close{
  color: #ffffff;
  background-color: rgb(255, 255, 255);
}
